body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
}
img{
    border-radius: 100%;
    width: 80px;
    height: auto;
    margin: 0px 0px 0px 0px;  
}
h2{
    color: white;
    margin: 15px 0px 0px 0px;
}
.cidade{
    font-size: 14px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin: 5px 0px 15px 0px;
}
p{
    font-size: 14px;
    font-weight: 600;
    margin: 13px 0px 20px 0px;
    color: white;
}
button{
    width: 80%;
    height: 45px;
    margin: 0px 0px 15px 0px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 600;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
@media screen and (max-width: 375px){
    main{
        margin: 15px;
    }
    img{
        margin-top: 15px;
    }
    button{
        width: 95%;
    }
}