body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(22, 21, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    background-color: rgb(36, 35, 35);
}
img{
    border-radius: 100%;
    width: 100px;
    height: auto;  
}
h1{
    font-size: 50px;
    color: white;
}
button{
    width: 80%;
    height: 50px;
    margin: 15px 0px 15px 0px;
    border-radius: 15px;
    border: none;
    background-color: rgb(59, 55, 55);
    color: white;
    font-size: 18px;
    font-weight: 650;
}